<div class="list">
    <a routerLink="novo" class="list__button" mat-raised-button color="primary">Novo álbum</a>

    <table mat-table [dataSource]="albums" class="mat-elevation-z2">
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Título</th>
            <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div class="list__actions">
                    <a mat-icon-button
                       [routerLink]="element.id"
                       color="primary"
                       matTooltip="Editar álbum"
                       aria-label="Editar álbum">
                        <mat-icon>edit</mat-icon>
                    </a>
                    <button mat-icon-button
                            (click)="delete(element)"
                            color="warn"
                            matTooltip="Deletar álbum"
                            aria-label="Deletar álbum">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="albumsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: albumsColumns;"></tr>
    </table>
</div>


